# Hardware Configuration
# can not ignore hardware-configuration.nix because it is used by nixos. Or you have to use --impure option
# system/hardware-configuration.nix

# Nix build results
result
result-*
